.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: app-animation 1s;
  }
}

@keyframes app-animation {
  from {
    transform: scale(0, 0) translateY(0px);
  }
  to {
    transform: scale(1, 1) translateY(100vh);
  }
}
